<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="/static/js/bootstrap.bundle.js" type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <style>
        .element-center{
            float: none;
            margin: 0 auto;
        }

        .prevent-select {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .remove-dropdown{
            position: absolute !important;
            inset: 0 0 auto auto !important;
            margin: 0 !important;
            transform: translate3d(-21px, -7px, 0px) !important;
        }

        .ellipsis {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

    </style>
</head>
<body>
<header class="p-3 mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="/static/img/logo.svg" th:src="@{/img/logo.svg}" alt="logo" width="40" height="40" loading="lazy">
                <span class="fs-5 ms-2">Storage</span>
            </a>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/static/img/user-avatar.svg" th:src="@{/img/user-avatar.svg}" alt="account" width="35" height="35" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item btn" href="#">Profile</a></li>
                    <li><a class="dropdown-item btn" href="#">Add account</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item btn btn-danger" th:href="@{/logout}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container bg-body-tertiary rounded-4">
    <div class="row">
        <main class="px-md-4 mt-2">
            <div class="container ps-4 mb-5 mt-3">
                <h4 class="">Available to me</h4>
            </div>
            <div class="container p-3">
                <nav class="w-100 d-inline-flex px-3 bg-body-secondary rounded-5">
                    <a type="button" class="me-3 py-2 link-body-emphasis text-decoration-none" href="javascript:history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-top: -3px" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                        </svg>
                        Back
                    </a>
                </nav>

                <div id="storage" class="element-center p-3" style="min-height: 100vh">
                    <table class="table table-light">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Path</th>
                            <th scope="col">File size</th>
                            <th scope="col">Owner</th>
                        </tr>
                        </thead>
                        <tbody th:hidden="${content.isEmpty()}" class="prevent-select">
                        <tr th:each="entity, iter : ${content}" th:if="${entity.getIsAvailable()}">
                            <td style="width: 16px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#22A699" class="bi bi-file-earmark-text-fill" style="margin-bottom: 4px" viewBox="0 0 16 16">
                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                                </svg>
                            </td>
                            <td style="max-width: 150px;" class="ellipsis">
                                <div th:text="${entity.name}">file</div>
                            </td>
                            <td style="max-width: 150px;" class="ellipsis" >
                                <div th:text="${entity.path}">path</div>
                            </td>
                            <td style="max-width: 150px;" class="ellipsis" >
                                <div th:if="${entity.contentType.equals('folder')}" th:text="folder">folder</div>
                                <div th:unless="${entity.contentType.equals('folder')}" th:text="${entity.size} + ' byte'">3 kb</div>
                            </td>
                            <td style="max-width: 150px;" class="ellipsis" >
                                <div th:text="${entity.owner}">owner</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>