<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js" type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script src="/static/js/storage-download.js" type="text/javascript" th:src="@{/js/storage-download.js}"></script>
    <script src="/static/js/share-item.js" type="text/javascript" th:src="@{/js/share-item.js}"></script>
    <style>
        .breadcrumb-chevron {
            --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236c757d'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
            gap: .5rem;
        }
        .breadcrumb-chevron .breadcrumb-item {
            display: flex;
            gap: inherit;
            align-items: center;
            padding-left: 0;
            line-height: 1;
        }
        .breadcrumb-chevron .breadcrumb-item::before {
            gap: inherit;
            float: none;
            width: 1rem;
            height: 1rem;
        }

        .breadcrumb-custom .breadcrumb-item {
            position: relative;
            flex-grow: 1;
            padding: .75rem 3rem;
        }
        .breadcrumb-custom .breadcrumb-item::before {
            display: none;
        }
        .breadcrumb-custom .breadcrumb-item::after {
            position: absolute;
            top: 50%;
            right: -25px;
            z-index: 1;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-top: -25px;
            content: "";
            background-color: var(--bs-tertiary-bg);
            border-top-right-radius: .5rem;
            box-shadow: 1px -1px var(--bs-border-color);
            transform: scale(.707) rotate(45deg);
        }
        .breadcrumb-custom .breadcrumb-item:first-child {
            padding-left: 1.5rem;
        }
        .breadcrumb-custom .breadcrumb-item:last-child {
            padding-right: 1.5rem;
        }
        .breadcrumb-custom .breadcrumb-item:last-child::after {
            display: none;
        }

        .element-center{
            float: none;
            margin: 0 auto;
        }

        .prevent-select {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .highlight{
            border-radius: 5px;
            border: 0.2em dashed #22a699 !important;
        }

        .remove-dropdown{
            position: absolute !important;
            inset: 0 0 auto auto !important;
            margin: 0 !important;
            transform: translate3d(-21px, -7px, 0px) !important;
        }

        .ellipsis {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

    </style>
</head>
<body>
    <header class="p-3 mb-3">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="/static/img/logo.svg" th:src="@{/img/logo.svg}" alt="logo" width="40" height="40" loading="lazy">
                    <span class="fs-5 ms-2">Storage</span>
                </a>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/static/img/user-avatar.svg" th:src="@{/img/user-avatar.svg}" alt="account" width="35" height="35" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item btn" href="#">Profile</a></li>
                        <li><a class="dropdown-item btn" href="#">Add account</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item btn btn-danger" th:href="@{/logout}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container bg-body-tertiary rounded-4">
        <div class="row">
            <div class="sidebar col-md-3 col-lg-2 p-0">
                <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 220px;">
                    <div style="height: 155px"></div>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <button class="nav-link link-body-emphasis" type="button" data-bs-toggle="modal" data-bs-target="#create-folder-modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi pe-none me-1" style="margin-top: -5px" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                </svg>
                                Create folder
                            </button>
                        </li>
                        <li>
                            <div class="dropdown text-end">
                                <button class="nav-link link-body-emphasis" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi pe-none me-1" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                                            <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
                                        </svg>
                                        Upload
                                </button>
                                <ul class="dropdown-menu text-small">
                                    <li><button type="button" class="dropdown-item btn" data-bs-toggle="modal" data-bs-target="#file-modal">Files</button></li>
                                    <li><button type="button" class="dropdown-item btn" data-bs-toggle="modal" data-bs-target="#folder-modal">Folder</button></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button class="nav-link link-body-emphasis" type="button" data-bs-toggle="modal" data-bs-target="#download-modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi pe-none me-1" viewBox="0 0 16 16">
                                    <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                                    <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
                                </svg>
                                Download
                            </button>
                        </li>
                        <li>
                            <a href="#" th:href="@{/available}" class="nav-link link-body-emphasis">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people me-1" style="margin-top: -3px" viewBox="0 0 16 16">
                                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                                </svg>
                                Available to me
                            </a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/trash-bin}" class="nav-link link-body-emphasis">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi pe-none me-1" style="margin-top: -5px" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                </svg>
                                Trash
                            </a>
                        </li>
                        <li>
                            <button class="nav-link link-body-emphasis" type="button" data-bs-toggle="modal" data-bs-target="#share-modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi pe-none me-1" style="margin-top: -5px" viewBox="0 0 16 16">
                                    <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
                                </svg>
                                Share
                            </button>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi pe-none me-1" style="margin-top: -1px" viewBox="0 0 16 16">
                                    <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                                </svg>
                                Storage
                            </a>
                        </li>
                    </ul>
                    <div class="progress mt-2" style="height: 5px; margin-left: 16px">
                        <div class="progress-bar" role="progressbar" style="width: 5%" th:style="'width: ' + (${storageUsage.percent}) + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="mt-1" style="margin-left: 16px; font-size: 15px">
                        Used <span th:text="${storageUsage.totalSize}"></span> Gb
                    </div>
                </div>
            </div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-2">
                <div class="mb-5 mt-3">
                    <h4 class="text-center">Welcome to cloud vault</h4>
                    <form class="w-75 element-center" role="search">
                        <input type="search" class="form-control rounded-4" placeholder="Search..." aria-label="Search">
                    </form>
                </div>
                <div class="container p-3">
                    <nav aria-label="breadcrumb border rounded-3 element-center">
                        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-secondary rounded-4">
                            <li class="breadcrumb-item">
                                <a class="link-body-emphasis" type="button" id="send_message" th:href="@{/vault}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                                    </svg>
                                    <span class="visually-hidden">Home</span>
                                </a>
                            </li>
                            <li class="breadcrumb-item" th:each="point,iter: ${pathView.path}" th:if="${!point.equals(root)}">
                                <a class="link-body-emphasis text-decoration-none" type="button" th:href="@{/previous/{path}/details(path=${pathView.pathToBase64()}, index=${iter.index})}" th:text="${point}">point</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page" th:text="${pathView.workingDirectory}">
                                wd
                            </li>
                        </ol>
                    </nav>

                    <div id="storage" class="element-center p-3" style="min-height: 100vh">
                        <table class="table table-light">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Owner</th>
                                    <th scope="col">Last modified</th>
                                    <th scope="col">File size</th>
                                    <th scope="col">Location</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody th:hidden="${content.isEmpty()}" class="prevent-select">
                            <tr th:each="entity, iter : ${content}">
                                <td th:if="${entity.contentType.equals('folder')}" style="width: 16px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#22A699" class="bi bi-folder-fill" viewBox="0 0 16 16">
                                        <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"/>
                                    </svg>
                                </td>
                                <td th:unless="${entity.contentType.equals('folder')}" style="width: 16px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#22A699" class="bi bi-file-earmark-text-fill" style="margin-bottom: 4px" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                                    </svg>
                                </td>
                                <td style="max-width: 150px;" class="ellipsis" th:id="${'name-cell-'+iter.index}" ondblclick="rename(this)">
                                    <form th:action="@{/rename}" method="post">
                                        <input type="hidden" name="working_directory" th:value="${workingDirectory}">
                                        <input type="hidden" name="entity_path" th:value="${entity.path}"/>
                                        <div id="cell-content">
                                            <a class="nav-link" th:if="${entity.contentType.equals('folder')}" th:href="@{/folders/{path}(path=${entity.pathToBase64()})}" th:text="${entity.name}"></a>
                                            <div th:unless="${entity.contentType.equals('folder')}" th:text="${entity.name}">file</div>
                                        </div>
                                        <input class="d-none" name="entity_name" id="file-name-input" th:value="${entity.name}"/>
                                    </form>
                                </td>
                                <td style="max-width: 150px;" class="ellipsis" >
                                    <a class="nav-link" th:if="${entity.contentType.equals('folder')}"  th:href="@{/folders/{path}(path=${entity.pathToBase64()})}" th:text="${entity.owner.equals(person.email) ? 'me' : entity.owner}"></a>
                                    <div th:unless="${entity.contentType.equals('folder')}" th:text="${entity.owner.equals(person.email) ? 'me' : entity.owner}">me</div>
                                </td>
                                <td style="max-width: 150px;" class="ellipsis" >
                                    <a class="nav-link" th:if="${entity.contentType.equals('folder')}" th:href="@{/folders/{path}(path=${entity.pathToBase64()})}" th:text="${#dates.format(entity.lastModified, 'HH:mm')}"></a>
                                    <div th:unless="${entity.contentType.equals('folder')}" th:text="${#dates.format(entity.lastModified, 'HH:mm')}">15:21</div>
                                </td>
                                <td style="max-width: 150px;" class="ellipsis" >
                                    <a class="nav-link" th:if="${entity.contentType.equals('folder')}" th:href="@{/folders/{path}(path=${entity.pathToBase64()})}" th:text="folder"></a>
                                    <div th:unless="${entity.contentType.equals('folder')}" th:text="${entity.size} + ' byte'">3 kb</div>
                                </td>
                                <td style="max-width: 150px;" class="ellipsis" >
                                    <a class="nav-link" th:if="${entity.contentType.equals('folder')}" th:href="@{/folders/{path}(path=${entity.pathToBase64()})}" th:text="${entity.owner.equals(person.email) ? 'my vault' : 'available to me'}"></a>
                                    <div th:unless="${entity.contentType.equals('folder')}" th:text="${entity.owner.equals(person.email) ? 'my vault' : 'available to me'}">my vault</div>
                                </td>
                                <td style="width: 1px">
                                    <div class="float-end">
                                        <div class="dropdown dropstart">
                                            <button aria-expanded="false" class="btn btn-sm p-0" data-bs-toggle="dropdown" type="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-top: -4px" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                                </svg>
                                            </button>
                                            <div class="dropdown-menu remove-dropdown p-1">
                                                <form th:action="@{/move-to-trash}" method="post">
                                                    <input type="hidden" name="working_directory" th:value="${workingDirectory}">
                                                    <input type="hidden" name="path" th:value="${entity.path}">
                                                    <button class="btn btn-sm btn-danger dropdown-item" type="submit">Move to trash</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
            <script>
                function rename(e){
                    console.log(e);
                    const input = e.querySelector('#file-name-input');
                    const cellContent = e.querySelector('#cell-content');
                    let isHidden = input.classList.contains('d-none');

                    if(isHidden){
                        input.value = cellContent.innerText;
                        input.classList.remove('d-none');
                        cellContent.classList.add('d-none');
                    }else{
                        input.classList.add('d-none');
                        cellContent.classList.remove('d-none');
                    }
                }
            </script>
        </div>
    </div>

<!-- Modal windows -->

<!-- create folder -->
<div class="modal fade" tabindex="-1" id="create-folder-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create folder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/create-folder}" method="post" id="create-folder-form">
                    <input type="hidden" name="current_path" th:value="${workingDirectory}">
                    <input type="text" name="folder_name" id="create-folder-input" class="form-control" placeholder="New folder"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-white" style="background-color: #22A699" data-bs-dismiss="modal" onclick="document.getElementById('create-folder-form').submit()">Create</button>
            </div>
        </div>
    </div>
</div>
<!-- create folder -->


<!-- files upload -->
<div class="modal fade" tabindex="-1" id="file-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload files</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/upload-files}" enctype="multipart/form-data" method="post" id="file-form">
                    <div>
                        <div class="card">
                            <div>
                                <div id="drop-area" class="border rounded d-flex justify-content-center align-items-center"
                                     style="height: 200px; cursor: pointer">
                                    <div class="text-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
                                        </svg>
                                        <p>
                                            Drag and drop files here or click
                                        </p>
                                    </div>
                                </div>
                                <input type="hidden" name="current_path" th:value="${workingDirectory}"/>
                                <input type="file" name="file" id="file-input" multiple class="d-none" required />
                                <div id="gallery"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="clear-file-input">Clear</button>
                <button type="submit" class="btn text-white" style="background-color: #22A699" data-bs-dismiss="modal" aria-label="Close" onclick="formFileSubmit()">Upload</button>
            </div>
        </div>
    </div>
</div>
<script>
    let dropArea = document.getElementById('drop-area');
    let fileElem = document.getElementById('file-input');
    let gallery = document.getElementById('gallery');
    let clearFiles = document.getElementById('clear-file-input');

    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false);
        document.body.addEventListener(eventName, preventDefaults, false);
    });

    ['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false);
    });

    ['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false);
    });

    dropArea.addEventListener('drop', handleDrop, false);

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
    }

    function highlight() {
        dropArea.classList.add('highlight');
    }

    function unhighlight() {
        dropArea.classList.remove('highlight');
    }

    function handleDrop(e) {
        let dt = e.dataTransfer;
        let files = dt.files;
        handleFiles(files);
    }

    dropArea.addEventListener('click', () => {
        fileElem.click();
    });

    fileElem.addEventListener('change', function () {
        handleFiles(this.files);
    });

    clearFiles.addEventListener('click', function () {
        gallery.innerHTML = null;
        fileElem.value = null;
    })

    function handleFiles(files) {
        files = [...files];
        files.forEach(previewFile);
    }

    function previewFile(file) {
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onloadend = function () {
            let div = document.createElement('div');
            div.innerText = file.name;
            gallery.appendChild(div);
        }
    }

    function formFileSubmit(){
        let fileInput = document.getElementById('file-input');
        let size = fileInput.files.length;
        if(size > 0)
            document.getElementById('file-form').submit();
    }
</script>
<!-- files upload -->


<!-- folder upload -->
<div class="modal fade" tabindex="-1" id="folder-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload folder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/upload-folder}" enctype="multipart/form-data" method="post" id="folder-form">
                    <input type="hidden" name="current_path" th:value="${workingDirectory}">
                    <input type="file" name="folder" id="folder-input" class="form-control" webkitdirectory mozdirectory msdirectory odirectory directory multiple required />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="clear-folder-input">Clear</button>
                <button type="submit" class="btn text-white" style="background-color: #22A699" data-bs-dismiss="modal" onclick="formFolderSubmit()">Upload</button>
            </div>
        </div>
    </div>
</div>
<script>
    let folderElem = document.getElementById('folder-input');
    let clearFolder = document.getElementById('clear-folder-input');
    clearFolder.addEventListener('click', () => {
        folderElem.value = null;
    })

    function formFolderSubmit(){
        let folderInput = document.getElementById('folder-input');
        let size = folderInput.files.length;
        if(size > 0)
            document.getElementById('folder-form').submit();
    }
</script>
<!-- folder upload -->

<!-- download -->
<div class="modal fade" tabindex="-1" id="download-modal">
    <div class="modal-dialog modal-xl modal-dialog-centered" style="align-items: flex-end;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-dialog-scrollable" style="min-height: 70vh;">
                <div class="btn-group">
                    <button class="btn btn-outline-secondary active" onclick="openTable(this, 'Files')" id="files-tab-button">Files</button>
                    <button class="btn btn-outline-secondary" onclick="openTable(this, 'Folders')" id="folders-tab-button">Folders</button>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Path</th>
                        <th scope="col">File size</th>
                    </tr>
                    </thead>
                    <tbody class="prevent-select" id="Files">
                        <tr th:each="entity, iter : ${allFiles}" th:id="${'file-'+iter.index}" onclick="addToChosen(this)" style="cursor: pointer;">
                            <td style="width: 16px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#22A699" class="bi bi-file-earmark-text-fill" style="margin-bottom: 4px" viewBox="0 0 16 16">
                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                                </svg>
                            </td>
                            <td style="max-width: 150px;" class="ellipsis" >
                                <div th:text="${entity.name}">file</div>
                            </td>
                            <td style="max-width: 150px;" class="ellipsis">
                                <div th:text="${entity.path}" th:id="${'path-file-'+iter.index}">root/folder1/folder</div>
                            </td>
                            <td style="max-width: 150px;" class="ellipsis">
                                <div th:text="${entity.size} + ' byte'">3 kb</div>
                            </td>
                        </tr>
                    </tbody>

                    <tbody class="prevent-select" id="Folders" hidden="true">
                        <tr th:each="entity, iter : ${allFolders}" th:id="${'folder-'+iter.index}" onclick="addToChosen(this)" style="cursor: pointer;">
                            <td style="width: 16px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#22A699" class="bi bi-folder-fill" viewBox="0 0 16 16">
                                    <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"/>
                                </svg>
                            </td>
                            <td style="max-width: 150px;" class="ellipsis">
                                <div th:text="${entity.name}">file</div>
                            </td>
                            <td style="max-width: 150px;" class="ellipsis" >
                                <div th:text="${entity.path}" th:id="${'path-folder-'+iter.index}">root/folder1/folder</div>
                            </td>
                            <td>
                                <div>folder</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn text-white" style="background-color: #22A699" data-bs-dismiss="modal" onclick="download()" value="Download">
            </div>
        </div>
    </div>
</div>
<script>
    let tabs = new Map();
    tabs.set("Files", "Folders");
    tabs.set("Folders", "Files");
    tabs.set("files-tab-button", "folders-tab-button");
    tabs.set("folders-tab-button", "files-tab-button");

    function openTable(evt, tableName) {
        let tabcontent, notabcontent;

        evt.classList.add('active');
        document.getElementById(tabs.get(evt.id)).classList.remove('active');

        tabcontent = document.getElementById(tableName);
        notabcontent = document.getElementById(tabs.get(tableName));

        tabcontent.hidden = false;
        notabcontent.hidden = true;
        clearFilesMap();
    }
</script>
<!-- download -->

<!-- share -->
<div class="modal fade" tabindex="-1" id="share-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Share</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <label for="select-item">Choose object</label>
                    <select class="form-select" id="select-item" required>
                        <option selected>Open this select menu</option>
                        <option th:each="entity, iter : ${content}" th:id="${'opt-'+entity.id}" th:value="${entity.path}" th:text="${entity.name+': '+entity.contentType}">text</option>
                    </select>

                    <label for="access-level" class="mt-4">General access</label>
                    <select class="form-select" id="access-level">
                        <option value="false" selected>Access denied</option>
                        <option value="true">Access by link</option>
                    </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="copyLink()">Copy link</button>
                <button type="button" class="btn text-white" style="background-color: #22A699" data-bs-dismiss="modal" onclick="ready()">Ready</button>
            </div>
        </div>
    </div>
</div>
<script>

    function copyLink(){
        sendShareRequest(
            function(result){
                navigator.clipboard.writeText(result).then(function() {
                    console.log('Async: Copying to clipboard was successful!');
                }, function(err) {
                    console.error('Async: Could not copy text: ', err);
                });
            }
        )
    }

    function ready(){
        sendShareRequest(() => {})
    }

    function sendShareRequest(successFunc){
        const data = {
            path: document.getElementById('select-item').value,
            access: document.getElementById('access-level').value
        }

        $.ajax({
            type: "POST",
            url: '/share-item',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: successFunc,
            error: function (e){
                console.log("error");
                console.log(e);
            }
        });
    }
</script>
<!-- share -->

<!-- Modal windows -->
</body>
</html>